.list-wrapper{
  .table-wrapper{
    width:60%;
    box-shadow: inset 13px 13px 22px #11120e, inset -13px -13px 22px #313228;
    padding:50px 0;
    .table-header,.table-items{
      display: flex;
      padding:10px 0;
      div{
        flex-basis: 33%;
        text-align: center;
      }
    }
  }
.game-item{
  text-transform: capitalize;
}
}

@media only screen and (max-width: 600px) {
  .list-wrapper{
    .table-wrapper{
      width:100%;
    }
  }

}