#card {
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front {
  background-color: #6e7836;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%235e662e' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
[data-symbol='1'] .back {
  background: red;
}
[data-symbol='2'] .back {
  background: yellow;
}
[data-symbol='3'] .back {
  background: blue;
}
[data-symbol='4'] .back {
  background: green;
}
[data-symbol='5'] .back {
  background: purple;
}
[data-symbol='6'] .back {
  background: orange;
}
[data-symbol='7'] .back {
  background: gray;
}
[data-symbol='8'] .back {
  background: whitesmoke;
}
