.card-page--wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  color: #b3751e;
  box-sizing: border-box;
}

.card-wrapper {
  width: 60%;
  padding-top: 120px;
  //height: calc(100% - 150px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper-8 {
  justify-content: center;
  .card-wrapper {
    height: calc(73% - 150px);
  }
  #card,
  .card {
    width: calc(25% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    max-height: 185px;
  }
}
.wrapper {
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  #card,
  .card {
    width: calc(25% - 20px);
    height: calc(33.33% - 20px);
    margin: 10px;
  }
}
.wrapper-16 {
  #card,
  .card {
    width: calc(25% - 20px);
    height: calc(25% - 20px);
    margin: 10px;
  }
}


.timer-wrapper{
  width: 100%;
  position: absolute;
  top: 0;
  right: 50px;
  text-align: right;
  color: #fff;
}